<ng-container *ngIf="{ isMobile: isMobile$ | async } as data">
  <div class="navigation-ui" *ngIf="node?.children.length > 1">
    <nav
      class="navigation-ui__nav"
      *ngFor="let children of node?.children; index as i"
    >
      <cx-generic-link
        *ngIf="!data.isMobile; else isMobileNodeTitle"
        class="navigation-ui__nav-a"
        [url]="children?.url"
        >{{ children?.title }}
        <cx-icon
          *ngIf="children?.children?.length > 0"
          [type]="iconType.CARET_DOWN"
        ></cx-icon
      ></cx-generic-link>
      <ng-template #isMobileNodeTitle>
        <div class="navigation-ui__nav-mobile">
          <cx-generic-link class="navigation-ui__nav-a" [url]="children?.url"
            >{{ children?.title }}
          </cx-generic-link>
          <cx-icon
            *ngIf="children?.children?.length > 0"
            [type]="
              childVisibility?.includes(i)
                ? iconType.CARET_UP
                : iconType.CARET_DOWN
            "
            (click)="toggleChildVisibility(i)"
          ></cx-icon>
        </div>
      </ng-template>

      <div
        class="navigation-ui__nav-wrapper"
        [ngClass]="{ visible: childVisibility?.includes(i) }"
        *ngIf="children?.children?.length > 0"
      >
        <cx-generic-link
          class="navigation-ui__nav-wrapper-title"
          [url]="children?.url"
        >
          {{
            "navigation.shopAll" | cxTranslate : { navNode: children?.title }
          }}
        </cx-generic-link>
        <div class="navigation-ui__nav-wrapper__children">
          <div
            class="navigation-ui__nav-wrapper__children-container"
            [attr.wrap-after]="grandChild?.children?.length >= 10 ? 10 : null"
            [attr.column-count]="
              grandChild?.children?.length > 30
                ? 4
                : grandChild?.children?.length > 20
                ? 3
                : grandChild?.children?.length > 10
                ? 2
                : 1
            "
            *ngFor="let grandChild of children?.children"
          >
            <cx-generic-link
              class="navigation-ui__nav-wrapper__children-container__title"
              [url]="grandChild?.url"
              >{{ grandChild?.title }}
            </cx-generic-link>
            <div
              class="navigation-ui__nav-wrapper__children-container__links"
              *ngFor="let littleChild of grandChild?.children; index as in"
            >
              <cx-generic-link
                class="navigation-ui__nav-wrapper__children-container__links-value"
                [url]="littleChild?.url"
                >{{ littleChild?.title }}
              </cx-generic-link>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</ng-container>
