<ng-container *ngIf="_componentData$ | async as data">
  <div class="product-carousel-container">
    <h3 class="product-carousel-container__title">{{ data.title }}</h3>
    <swiper
      [config]="swiperConfig"
      [navigation]="{
        nextEl: '.right-' + data.uid,
        prevEl: '.left-' + data.uid
      }"
      [autoplay]="{ delay: 7000 }"
      [loop]="true"
      *ngIf="!(isMobile$ | async); else mobileGrid"
    >
      <ng-container *ngFor="let item$ of items$ | async">
        <ng-template swiperSlide>
          <app-product-card [product]="item$ | async"></app-product-card>
        </ng-template>
      </ng-container>
    </swiper>
    <div class="left">
      <cx-icon [class]="'left-' + data.uid" type="ARROW_LEFT"></cx-icon>
    </div>
    <div class="right">
      <cx-icon [class]="'right-' + data.uid" type="ARROW_RIGHT"></cx-icon>
    </div>
  </div>
  <ng-template #mobileGrid>
    <div class="product-carousel-container__grid">
      <ng-container *ngFor="let item$ of (items$ | async).slice(0, 4)">
        <app-product-card
          [product]="item$ | async"
          [isMobile]="isMobile$ | async"
        ></app-product-card>
      </ng-container>
    </div>
  </ng-template>
</ng-container>
