@import "src/styles/custom-scss/mixins/media-querys.scss";
@import "src/styles/custom-scss/variables/variables.scss";
footer {
  cx-page-layout {
    &.footer {
      cx-page-slot {
        &.Footer {
          background: $white;
          color: $primary;
          cx-footer-navigation a:hover {
            color: $primary-light;
          }
          cx-anonymous-consent-open-dialog {
            .btn-link {
              color: $primary;
            }
          }
          cx-anonymous-consent-management-banner {
            .anonymous-consent-banner {
              background-color: rgba(0, 0, 0, 0.9);
              color: $white;
              border-top: 5px solid rgba(0, 0, 0, 0.9);
              .cx-banner-buttons {
                .btn-action {
                  color: $white;
                  border-radius: 6px;
                  background-color: rgba(65, 137, 230, 0.15);
                  border: none;
                  &:hover {
                    filter: brightness(calc(84 / 100));
                  }
                }
                .btn-primary {
                  background-color: $blue;
                  color: $white;
                  border-radius: 6px;
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
