@import "src/styles/custom-scss/mixins/media-querys.scss";
@import "src/styles/custom-scss/variables/variables.scss";
cx-page-layout {
  &.LandingPage2Template {
    max-width: 100%;
    cx-page-slot {
      &.Section1 {
        max-width: 100%;
        margin: 0 auto 1rem auto;
      }
      &.Section2A,
      &.Section2B {
        @include desktop {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1rem;
          max-width: 600px;
          app-custom-banner {
            cx-generic-link {
              cx-media {
                img {
                  border-radius: 0.375rem;
                }
              }
            }
          }
        }
        @include mobile {
          app-custom-banner {
            cx-generic-link {
              cx-media {
                img {
                  display: flex;
                  height: auto;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      &.Section2A {
        @include desktop {
          padding-right: 0.5rem;
        }
      }
      &.Section2B {
        @include desktop {
          padding-left: 0.5rem;
        }
      }
      &.Section4 {
        @include desktop {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          column-gap: 1rem;
          max-width: var(--cx-page-width-max);
          margin: 0 auto;
          cx-banner {
            cx-generic-link {
              cx-media {
                img {
                  border-radius: 0.375rem;
                }
              }
            }
          }
        }
        @include mobile {
          margin-top: 1.5rem;
          app-custom-banner {
            cx-generic-link {
              cx-media {
                img {
                  display: flex;
                  height: auto;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      &.Section5 {
        @include desktop {
          max-width: var(--cx-page-width-max);
          margin: 0 auto 1rem auto;
        }
        @include mobile {
          app-custom-banner {
            cx-generic-link {
              cx-media {
                img {
                  display: flex;
                  height: auto;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
