@import "src/styles/custom-scss/mixins/media-querys.scss";
@import "src/styles/custom-scss/variables/variables.scss";
cx-page-layout {
  &.header {
    cx-page-slot {
      &.MiniCart {
        @include mobile {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: nowrap;
        }
        cx-mini-cart {
          @include mobile {
            margin-inline-start: 0;
          }
          a {
            background: transparent;
            flex-direction: unset;
            cx-icon {
              svg {
                fill: $primary;
                width: 1.4375rem;
                height: 1.25rem;
              }
            }
            span {
              color: $primary;
            }
            .count {
              width: 1.5rem;
              height: 1.5rem;
              margin-bottom: 1.25rem;
              font-size: 0.875rem;
              background: $white;
              border-radius: 50%;
              display: grid;
              place-content: center;
              padding: 0;
            }
          }
        }
        app-custom-login {
          @include desktop {
            display: none;
          }

          @include mobile {
            .login-text,
            .HeaderLinks {
              display: none;
            }
          }
        }
      }
    }
  }
}
