@import "src/styles/custom-scss/mixins/media-querys.scss";
@import "src/styles/custom-scss/variables/variables.scss";

cx-page-layout {
  &.header {
    cx-page-slot {
      &.SiteLogo {
        cx-media {
          background: center / contain no-repeat
            url("../../../assets/images/site-logo.png");
          width: 34px;
          height: 34px;
          @include mobile {
            width: 68px;
          }
          img {
            display: none;
          }
        }
      }
    }
  }
}
