<section class="payment-data MLA" type="payment-data MLA">
  <div class="container">
    <div class="payment-data-container">
      <div class="payment-data-group payment-data-group-normal">
        <div class="payment-data-section payment-data-section-normal">
          <a
            class="payment-data-icon"
            href="/gz/promociones-bancos"
            data-title="Promociones bancarias"
            ><img
              decoding="async"
              src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/payments/credit-card.svg"
              alt="Tarjeta de crédito"
          /></a>

          <div class="payment-data-title">Tarjeta de crédito</div>
          <div class="payment-data-subtitle">
            <a
              href="/gz/promociones-bancos"
              modal_title="Promociones bancarias"
              data-title="Promociones bancarias"
              aria-label="Tarjeta de crédito, Ver promociones bancarias"
              >Ver promociones bancarias</a
            >
          </div>
        </div>
        <ng-container *ngIf="!isMobile" class="hide-mobile">
          <div class="payment-data-section payment-data-section-normal">
            <a
              class="payment-data-icon"
              href="http://www.cx.sap.com/products/commerce"
              data-title="Medios de pago"
              ><img
                decoding="async"
                src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/payments/debit-card.svg"
                alt="Tarjeta de débito"
            /></a>
            <div class="payment-data-title">Tarjeta de débito</div>
            <div class="payment-data-subtitle">
              <a
                href="http://www.cx.sap.com/products/commerce"
                modal_title="Medios de pago"
                data-title="Medios de pago"
                aria-label="Tarjeta de débito, Ver más"
                >Ver más</a
              >
            </div>
          </div>
          <div class="payment-data-section payment-data-section-normal">
            <a
              class="payment-data-icon"
              href="http://www.cx.sap.com/products/commerce"
              target="_blank"
              data-title="Medios de pago"
              ><img
                decoding="async"
                src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/payments/mercado-creditsv2.svg"
                alt="Cuotas sin tarjeta"
            /></a>
            <div class="payment-data-title">Cuotas sin tarjeta</div>
            <div class="payment-data-subtitle">
              <a
                href="http://www.cx.sap.com/products/commerce"
                target="_blank"
                modal_title="Medios de pago"
                data-title="Medios de pago"
                >Conocé Mercado Crédito</a
              >
            </div>
          </div>
          <div class="payment-data-section payment-data-section-normal">
            <a
              class="payment-data-icon"
              href="http://www.cx.sap.com/products/commerce"
              data-title="Medios de pago"
              ><img
                decoding="async"
                src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/payments/payment-agreement.svg"
                alt="Efectivo"
            /></a>
            <div class="payment-data-title">Efectivo</div>
            <div class="payment-data-subtitle">
              <a
                href="http://www.cx.sap.com/products/commerce"
                modal_title="Medios de pago"
                data-title="Medios de pago"
                aria-label="Efectivo, Ver más"
                >Ver más</a
              >
            </div>
          </div>
        </ng-container>
      </div>
      <div
        class="payment-data-group payment-data-group-trailing"
        *ngIf="!isMobile"
      >
        <div class="payment-data-section payment-data-section-trailing">
          <a
            class="payment-data-icon"
            href="http://www.cx.sap.com/products/commerce"
            data-title="Medios de pago"
            ><img
              decoding="async"
              src="https://http2.mlstatic.com/storage/homes-korriban/assets/images/payments/view-more.svg"
              alt="Medios de pago"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
