/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";
$styleVersion: 4.3;
@import "~@spartacus/styles/index";
@import "./styles/custom-scss/variables/variables";
@import "./styles/custom-scss/components/index";
@import "./styles/custom-scss/layout/index";

:root {
  --cx-page-width-max: 75rem;
  --cx-color-primary: #3483fa;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background: $background-grey;
}

cx-facet a.value:hover,
cx-facet button.value:hover {
  color: $primary-light-hover;
}
cx-facet.multi-select a.value:hover:not(.selected):before {
  border-color: $primary-light-hover;
}

a {
  color: $primary-light;
}
a:hover {
  color: $primary-light-hover;
}
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: var(--cx-color-primary);
  border-color: var(--cx-color-primary);
}
cx-active-facets a {
  border: 1px solid $primary-light;
  background: transparent;
  border-radius: 6px;
}
cx-facet.multi-select a.value.selected:before {
  background-color: transparent;
  border-color: $primary;
  color: $primary;
}
html {
  scroll-behavior: smooth;
  background: $background-grey;
}
cx-storefront {
  cx-global-message {
    z-index: 1060;
  }
}
