/* You can add global styles to this file, and also import other style files */

$styleVersion: 4.3;
@import "~@spartacus/styles/index";
@import "./styles/custom-scss/variables/variables";
@import "./styles/custom-scss/components/index";
@import "./styles/custom-scss/layout/index";

html,
body {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
