/* You can add global styles to this file, and also import other style files */

$styleVersion: 4.3;
@import "~@spartacus/styles/index";
@import "./styles/custom-scss/variables";

:root {
  --cx-color-dark: #fff159;
  --cx-color-inverse: #333333;
  --cx-color-secondary: #ffffff;
  --cx-color-light: #33333399;
  --cx-color-primary: #3483fa;
}
